<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFSXAssistant" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/FSXAssistant" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFSXAssistant" contract="FSXAssistantServiceReference.IFSXAssistant"
                name="NetTcpBinding_IFSXAssistant">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
